@import '../StyleComponents/variables';
@import '../StyleComponents/flex';
.image-details-container {
    flex: 1;
    position: -webkit-sticky;
    @include flexStart(row, flex-start);
    position: sticky;
    overflow: unset;
    top: 60px;
    height: 100vh;
    .image-detail {
        @include flexStart(column, space-between);
        width: 100%;
        .close {
            margin: 5% 1% 0 1%;
            font-size: 1.5rem;
            display: flex;
            width: 95%;
            justify-content: flex-end;
        }
        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
        .carousel-wrapper {
            @include flexSpaceAround();
            .carousel-icon {
                font-size: 2.5rem;
            }
            img {
                border-radius: 15px;
            }
        }
    }
}