$darkBackgroundColor: #2b2b2b;
$mainColor: #8f8c73;
$mainColorWithTransparency: rgba(143, 140, 115, 0.7);
$textColor: #ffff;
$titleH2Color:#bdb999;
$backgroundHover:rgba(0, 0, 0, 0.7);
$hoverIcon: #ccc;