.modal-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    color: white;
    .modal-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        h2 {
            font-size: 2rem;
            margin-left: 5%;
        }
    }
    img {
        height: 80%;
        max-width: 90%;
        margin-bottom: 5%;
        overflow: hidden;
    }
}