@import '../StyleComponents/variables';
@import '../StyleComponents/flex';
.gallery-wrapper {
    display: flex;
    .gallery-root {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        scroll-behavior: smooth;
        flex: 1;
        li {
            background-size: cover;
            background-position: center center;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;
            border: 1px solid $darkBackgroundColor;
            overflow: hidden;
            list-style: none;
            min-width: 33.333333%;
        }
        .loading-text {
            height: 100px;
            margin: 30px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

@media (max-width: 680px) {
    li {
        width: 50%;
        min-width: 33.33333%;
    }
}

@media (max-width: 480px) {
    li {
        width: 100%;
    }
}