.gallery-root {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    .loading-text {
        height: 100px;
        margin: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

li {
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #2b2b2b;
    overflow: hidden;
    width: 25%;
}

.gallery-header {
    background-color: #222;
    padding: 10px;
    color: white;
    font-size: 20pt;
}

.gallery-intro {
    font-size: 15pt;
}

@media (max-width: 680px) {
    li {
        width: 50%;
    }
}

@media (max-width: 360px) {
    li {
        width: 100%;
    }
}